<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="/pages/styles.css">
    <link rel="stylesheet" href="image.css">
</head>
<body>
    <header class="header">
        <a href="/index.html" class="brand">
            <span class="brand-name">
                <img src="/assets/logo.png" alt="byoti" class="brand-logo"/>
                <span>byoti</span>
            </span>
        </a>
    </header>
    <nav>
        <div class="nav__heading nav__heading-main">Getting Started</div>
        <div class="nav__heading nav__heading-sub">
            <a href="/pages/docs.html">Usage</a>
        </div>

        <div class="nav__heading nav__heading-main">Components</div>
        <ul class="nav__section">
            <li class="nav__links">
                <a href="/pages/components/Avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav__links">
                <a 
                    href="/pages/components/Alert/alert.html"
                >Alert</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Button/button.html">Button</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Card/card.html">Card</a>
            </li>
            <li class="nav__links">
                <a 
                    style="color: #BE185D;"
                    href="/pages/components/Image/image.html">
                Image</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Input/input.html">Input</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/List/list.html">List</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Navigation/navigation.html">Navigation</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Toast/toast.html">Toast</a>
            </li>
        </ul>
    </nav>
    <main class="comp__section">
        <!-- For small screens -->
        <div class="page-turn">
            <a href="/pages/components/Card/card.html" class="turn-btn">
                <img src="/assets/arrow_back.svg" alt="">
                Card
            </a>
            <a href="/pages/components/Input/input.html" class="turn-btn">
                Input
                <img src="/assets/arrow_forward.svg" alt="">
            </a>
        </div>
        <!-- End -->
        <h1 class="comp__header">Image</h1>
        <pre class="comp__container-code">
            <code class="html">
                @import(url)
                &lt;link rel="stylesheet" href="">
            </code>
        </pre>

        <h2 class="comp__header comp__header-sub">
            Responsive Image
        </h2>
        <div 
            class="comp__container-desc flex"
            style="width: 30rem; max-width: 50%; margin-bottom: 1rem;"
        >
            <img class="img-res" src="/assets/splits.jpg" alt="" >
        </div>

        <p class="comp-desc">
            Add the <span class="highlight">img-res</span> class to the 
            <span class="highlight">img</span> tag. The image will grow
            to 100% of its parent container.
        </p>

        <pre class="comp__container-code">
            <code class="html">
                &lt;img src="..." alt="" class="img-res" />
            </code>
        </pre>

         <h2 class="comp__header comp__header-sub">
            Round Image
        </h2>
        <div 
            class="comp__container-desc flex"
            style="width: 15rem;margin-bottom: 1rem;"
        >
            <img class="img-round" src="/assets/splits.jpg" alt="" loading="lazy">
        </div>

        <p class="comp-desc">
            Add the <span class="highlight">img-round</span> class to the 
            <span class="highlight">img</span> tag to get a round image which
            grows to 100% of its parent container.
        </p>
        <pre class="comp__container-code">
            <code class="html">
                &lt;img src="..." alt="" class="img-round" />
            </code>
        </pre>

    </main>
</body>
</html>