@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary : #BE185D;
    --grey-light : #E5E7EB;
    --grey : #6B7280;
    --grey-dark : #374151;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',
    sans-serif;
    box-sizing: border-box;
}

/* Lists */
.list--no-bullet{
    list-style: none;
}

.list__item--inline{
    display: inline;
    padding: 0 0.5rem;
}
/* Navigation */
nav{
    background: var(--primary);
    color: white;
    padding: 0.5rem;
}

.nav__items{
    text-align: right;
}

.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav__link--active{
    font-weight: 700;
    border-bottom: 2px solid white;
}