<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="/pages/styles.css">
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <header class="header">
        <a href="/index.html" class="brand">
            <span class="brand-name">
                <img src="/assets/logo.png" alt="byoti" class="brand-logo"/>
                <span>byoti</span>
            </span>
        </a>
    </header>
    <nav>
        <div class="nav__heading nav__heading-main">Getting Started</div>
        <div class="nav__heading nav__heading-sub">
            <a href="/pages/docs.html">Usage</a>
        </div>

        <div class="nav__heading nav__heading-main">Components</div>
        <ul class="nav__section">
            <li class="nav__links">
                <a href="">Avatar</a>
            </li>
            <li class="nav__links">
                <a 
                    style="color: #BE185D;"
                    href="/pages/components/Alert/alert.html"
                >Alert</a>
            </li>
            <li class="nav__links">
                <a href="">Button</a>
            </li>
            <li class="nav__links">
                <a href="">Card</a>
            </li>
            <li class="nav__links">
                <a href="">Image</a>
            </li>
            <li class="nav__links">
                <a href="">Input</a>
            </li>
            <li class="nav__links">
                <a href="">List</a>
            </li>
            <li class="nav__links">
                <a href="">Navigation</a>
            </li>
            <li class="nav__links">
                <a href="">Toast</a>
            </li>
        </ul>
    </nav>
    <main class="comp__section">
        <h1 class="comp__header">Alert</h1>
        <pre class="comp__container-code">
            <code class="html">
                @import(url)
                &lt;link rel="stylesheet" href="">
            </code>
        </pre>

        <h2 class="comp__header comp__header-sub">
            Alert Types
        </h2>

        <div class="comp__container-desc">
            <div class="alert alert-success">A simple success alert</div>
            <div class="alert alert-danger">A simple danger alert</div>
            <div class="alert alert-warning">A simple warning alert</div>
            <div class="alert alert-info">A simple info alert</div>
        </div>

        <p class="comp-desc">
            The alert component has four variants 
        </p>

        <pre class="comp__container-code">
            <code class="html">
                &lt;div class="alert alert-success">A simple success alert.&lt;/div>
                &lt;div class="alert alert-danger">A simple danger alert.&lt;/div>
                &lt;div class="alert alert-warning">A simple warning alert.&lt;/div>
                &lt;div class="alert alert-info">A simple info alert.&lt;/div>
            </code>
        </pre>
    </main>
</body>
</html>