<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
    <title>Avatar</title>
    <link rel="stylesheet" href="/pages/styles.css">
    <link rel="stylesheet" href="avatar.css">
    <!-- code highlighter -->
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
</head>
<body>
    <header class="header">
        <a href="/index.html" class="brand">
            <span class="brand-name">
                <img src="/assets/logo.png" alt="byoti" class="brand-logo"/>
                <span>byoti</span>
            </span>
        </a>
    </header>
    <nav>
        <div class="nav__heading nav__heading-main">Getting Started</div>
        <div class="nav__heading nav__heading-sub">
            <a href="/pages/docs.html">Usage</a>
        </div>

        <div class="nav__heading nav__heading-main">Components</div>
        <ul class="nav__section">
            <li class="nav__links">
                <a 
                    style="color: #BE185D;"
                    href="/pages/components/Avatar/avatar.html">
                Avatar</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Alert/alert.html">
                Alert</a>
            </li>
            <li class="nav__links">
                <a href="">Button</a>
            </li>
            <li class="nav__links">
                <a href="">Card</a>
            </li>
            <li class="nav__links">
                <a href="">Image</a>
            </li>
            <li class="nav__links">
                <a href="">Input</a>
            </li>
            <li class="nav__links">
                <a href="">List</a>
            </li>
            <li class="nav__links">
                <a href="">Navigation</a>
            </li>
            <li class="nav__links">
                <a href="">Toast</a>
            </li>
        </ul>
    </nav>
    <main class="comp__section">
        <!-- For small screens -->
        <div class="page-turn">
            <a href="/pages/docs.html" class="turn-btn">
                <img src="/assets/arrow_back.svg" alt="">
                Usage
            </a>
            <a href="/pages/components/Alert/alert.html" class="turn-btn">
                Alert
                <img src="/assets/arrow_forward.svg" alt="">
            </a>
        </div>
        <!-- End -->
        <h1 class="comp__header">Avatar</h1>
        <pre class="comp__container-code">
            <code class="html">
                @import url("https://byoticss.netlify.app/pages/components/avatar/avatar.css");
                &lt;link rel="stylesheet"
                 href="https://byoticss.netlify.app/pages/components/avatar/avatar.css">
            </code>
        </pre>

        <h2 class="comp__header comp__header-sub">
            Standard Avatars
        </h2>

        <div class="comp__container-desc flex">
            <figure class="avatar avatar-xl inline">
                <img src="/assets/avatar-1.png" alt="AV">
            </figure>
            <figure class="avatar avatar-lg inline">
                <img src="/assets/avatar-2.png" alt="AV">
            </figure>
            <figure class="avatar avatar-std inline">
                <img src="/assets/avatar-3.png" alt="AV">
            </figure>
            <figure class="avatar avatar-sm inline">
                <img src="/assets/avatar-4.png" alt="AV">
            </figure>
        </div>

        <p class="comp-desc">
            The avatar component comes in 5 sizes 
            <span class="highlight">avatar-xl</span> (4rem),
            <span class="highlight">avatar-lg</span> (3rem),
            <span class="highlight">avatar-std</span> (2rem),
            <span class="highlight">avatar-sm</span> (1.5rem) and
            <span class="highlight">avatar-xs</span> (1.rem).
        </p>

        <pre class="comp__container-code">
            <code class="html">
               &lt;figure class="avatar avatar-lg">
               &lt;img src="..." alt="..."/>
               &lt;/figure>

               &lt;figure class="avatar avatar-sm">
               &lt;img src="..." alt="..."/>
               &lt;/figure>
            </code>
        </pre>

        <h2 class="comp__header comp__header-sub">
            Avatars with status
        </h2>

        <div class="comp__container-desc flex">
            <figure class="avatar avatar-xl inline">
                <img src="/assets/avatar-1.png" alt="AV" loading="lazy">
                <div class="avatar-status online"></div>
            </figure>
            <figure class="avatar avatar-lg inline">
                <img src="/assets/avatar-2.png" alt="AV" loading="lazy">
                <div class="avatar-status dnd"></div>
            </figure>
            <figure class="avatar inline">
                <img src="/assets/avatar-3.png" alt="AV" loading="lazy">
                <div class="avatar-status offline"></div>
            </figure>
        </div>

        <p class="comp-desc">
            These avatars support status indicators. There are three 
            <span class="highlight">online</span>, 
            <span class="highlight">dnd</span> and 
            <span class="highlight">offline</span>, 
        </p>

        <pre class="comp__container-code">
            <code class="html">
               &lt;figure class="avatar avatar-lg">
               &lt;img src="..." alt="..."/>
               &lt;div class="avatar-status online"></div>
               &lt;/figure>

               &lt;figure class="avatar avatar-sm">
               &lt;img src="..." alt="..."/>
               &lt;div class="avatar-status offline"></div>
               &lt;/figure>
            </code>
        </pre>
    </main>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>