<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/pages/styles.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
    <header class="header">
        <a href="/index.html" class="brand">
            <span class="brand-name">
                <img src="/assets/logo.png" alt="byoti" class="brand-logo"/>
                <span>byoti</span>
            </span>
        </a>
    </header>
    <nav>
        <div class="nav__heading nav__heading-main">Getting Started</div>
        <div class="nav__heading nav__heading-sub">
            <a href="/pages/docs.html">Usage</a>
        </div>

        <div class="nav__heading nav__heading-main">Components</div>
        <ul class="nav__section">
            <li class="nav__links">
                <a href="/pages/components/Avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav__links">
                <a 
                    href="/pages/components/Alert/alert.html"
                >Alert</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Button/button.html">Button</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Card/card.html">Card</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Image/image.html">Image</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Input/input.html">Input</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/List/list.html">List</a>
            </li>
            <li class="nav__links">
                <a 
                    style="color: #BE185D;"  
                    href="/pages/components/Navigation/navigation.html">
                Navigation</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Toast/toast.html">Toast</a>
            </li>
        </ul>
    </nav>
    <main class="comp__section">
        <!-- For small screens -->
        <div class="page-turn">
            <a href="/pages/components/List/list.html" class="turn-btn">
                <img src="/assets/arrow_back.svg" alt="">
                List
            </a>
            <a href="/pages/components/Toast/toast.html" class="turn-btn">
                Toast
                <img src="/assets/arrow_forward.svg" alt="">
            </a>
        </div>
        <!-- End -->
        <h1 class="comp__header">Navigation</h1>
        <pre class="comp__container-code">
            <code class="html">
                @import(url)
                &lt;link rel="stylesheet" href="">
            </code>
        </pre>

        <h2 class="comp__header comp__header-sub">
            Desktop Navigation
        </h2>

        <div class="comp__container-desc flex">
            <header class="nav">
                <a href="" class="nav-brand">
                    <span>
                        <img 
                            src="/assets/logo.png"
                            alt=""
                            class="nav-brand-logo"
                        />
                        <span class="nav-brand-name">byoti</span>
                    </span>
                </a>
                <ul class="nav-link__section">
                    <li class="nav-link">About</li>
                    <li class="nav-link">Products</li>
                    <li class="nav-link">Login</li>
                </ul>
            </header>
        </div>

        <pre class="comp__container-code">
            <code class="html">
                &lt;header class="nav">
                    &lt;a class="nav-brand-link" href="">
                        &lt;span>
                            &lt;img class="nav-brand-logo" src="..." alt=""/>
                            &lt;span class="nav-brand-name">byoti&lt;/span>
                        &lt;/span>
                    &lt;/a>
                    &lt;ul class="nav-link-section">
                        &lt;li class="nav-link">About&lt;/li>
                        &lt;li class="nav-link">Contact Us&lt;/li>
                        &lt;li class="nav-link">GitHub&lt;/li>
                    &lt;/ul>
                &lt;/header>
            </code>
        </pre>

    </main>
</body>
</html>