/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap'); */

@import './lists.css';
@import './image.css';
@import './typography.css';
@import './button.css';
@import './navigation.css';

:root{
	/* 
		set primary, secondary and other color
		preferences in the main/root stylesheet
		of your application: 

		--primary-color
		--secondary-color
		--primary-text-color
		--secondary-text-color
		--btn-toggle-color
	*/
  --z-index-1: 1;
	--z-index-2: 2;
	--z-index-3: 3;
	--z-index-4: 4;
	--z-index-5: 5;
	--z-index-6: 6;
}

html{
  scroll-behavior: smooth;
}

*, *::after, ::before{
  margin: 0;
}

.display-flex{
  display: flex;
  flex-wrap: wrap;
}
.display-flex-column{
  display: flex;
  flex-direction: column;
}
.flex-items{
  margin: 1rem 1rem 1rem 0;
}
.flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}
.flex-grow{
  flex-grow: 1;
}

.row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.column-80-pc{
  width: calc(80% - 1rem);
}
.column-20-pc{
  width: 20%;
}

.shadow-bottom{
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}
.shadow-box{
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}
