.footer{
  background-color: var(--bg-color-secondary-2);
  min-height: 7rem;
  width: 100%;
  padding: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
}
.footer__header{
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.footer__social-icons{
  width: fit-content;
  margin: 1rem auto;
}
.footer__social-icons a:hover{
  color: var(--primary-color);
}