<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="/pages/styles.css">
    <link rel="stylesheet" href="card.css">
</head>
<body>
    <header class="header">
        <a href="/index.html" class="brand">
            <span class="brand-name">
                <img src="/assets/logo.png" alt="byoti" class="brand-logo"/>
                <span>byoti</span>
            </span>
        </a>
    </header>
    <nav>
        <div class="nav__heading nav__heading-main">Getting Started</div>
        <div class="nav__heading nav__heading-sub">
            <a href="/pages/docs.html">Usage</a>
        </div>

        <div class="nav__heading nav__heading-main">Components</div>
        <ul class="nav__section">
            <li class="nav__links">
                <a href="/pages/components/Avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav__links">
                <a 
                    href="/pages/components/Alert/alert.html"
                >Alert</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Button/button.html">Button</a>
            </li>
            <li class="nav__links">
                <a 
                    style="color: #BE185D;"
                    href="/pages/components/Card/card.html">
                Card</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Image/image.html">Image</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Input/input.html">Input</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/List/list.html">List</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Navigation/navigation.html">Navigation</a>
            </li>
            <li class="nav__links">
                <a href="/pages/components/Toast/toast.html">Toast</a>
            </li>
        </ul>
    </nav>
    <main class="comp__section">
        <h1 class="comp__header">Card</h1>
        <pre class="comp__container-code">
            <code class="html">
                @import(url)
                &lt;link rel="stylesheet" href="">
            </code>
        </pre>

        
        <div class="comp__container-desc flex flex-wrap">
                <div class="card">
                    <img
                        src="https://rukminim1.flixcart.com/image/416/416/jdhp47k0/mobile/e/h/e/redmi-note-5-pro-na-original-imaf2ashnnbxxks5.jpeg?q=70"
                        alt="Product"
                        class="card-cover"
                    />
                    <div class="card-icon">
                        <img src="/assets/heart.svg" alt="wishlist" />
                    </div>
                    <div class="card-text">
                        <div class="card-heading">
                            Redmi Note
                        </div>
                        <div class="card-sub-heading">XIA0MI</div>
                        <div class="card-para">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Dignissimos, voluptatem veritatis! Rerum asperiores nostrum
                            dolor hic eum mollitia natus quos.
                        </div>
                        <div class="card-price">
                            <span class="price-discounted">₹2000</span>
                            <span class="price-original">₹3500</span>
                        </div>
                    </div>
                </div>
        </div>

         <pre class="comp-code-container">
             <code class="html">
                &lt;div class="card">
                    &lt;img src="..." alt="" class="cover" />
                    &lt;div class="card-icon">
                        &lt;img src="..." alt="" />
                    &lt;/div>
                    &lt;div class="card-text">
                        &lt;div class="card-heading">Redmi Note&lt;/div>
                        &lt;div class="card-sub-heading">XIA0MI&lt;/div>
                        &lt;div class="card-para">Lorem ipsum dolor...&lt;/div>
                        &lt;div class="card-price">
                            &lt;span class="price">₹2000&lt;/span>
                            &lt;span class="price-original">₹3500&lt;/span>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
            </code>
        </pre>
    </main>
</body>
</html>